- name: Install Universal Packages
  package:
    name:
      - tmux

- name: Install Debian-Based distro Standard Packages
  block:
    - name: Install Debian packages
      package:
        name:
          - htop
          - neovim
          - ncdu
          - git
          - curl
          - openssh-server
          - netdata
          - acl
          - bashtop
          - bpytop
          - iperf3
          - libfido2-dev
          - ca-certificates
          - gnupg
          - lsb-release
          - unattended-upgrades
      ignore_errors: yes
  when:
    - ansible_distribution in ["Debian", "Ubuntu"]

- name: Install Rhel-Based Distro standard Packages
  block:
    - name: Install RHEL standard packages
      package:
        - openssh-server
        - vim
  when:
    - ansible_distribution in ["AlmaLinux"]