- name: Install Universal Packages
  package:
    name:
      - tmux
      - openssh-server
      - acl
      - git
      - curl
      - htop
      - lsof #view open files
      - bash-completion
      - cron
      - libfido2-dev
      - zip
      - unzip
  ignore_errors: yes

- name: Install Guest tools if virtualized
  package:
    name: qemu-guest-agent
  ignore_errors: yes
  when:
    - ansible_chassis_vendor == "QEMU"

- name: Install Debian-Based distro Standard Packages
  block:
    - name: Install Debian packages
      package:
        name:
          - neovim
          - ncdu
          - netdata
          - bashtop
          - bpytop
          - iperf3
          - libfido2-dev
          - ca-certificates
          - gnupg
          - lsb-release
          - unattended-upgrades
      ignore_errors: yes
  when:
    - ansible_distribution in ["Debian", "Ubuntu"]

- name: Install Rhel-Based Distro standard Packages
  block:
    - name: Install RHEL standard packages
      package:
        name:
          - vim
  when:
    - ansible_distribution in ["AlmaLinux"]