- name: Install Standard Packages
  package:
    name:
      - htop
      - neovim
      - tmux
      - ncdu
      - git
      - curl
      - openssh-server
      - netdata
      - acl
  ignore_errors: yes

- name: Disable netdata
  systemd:
    name: netdata
    enabled: no
    state: stopped
  ignore_errors: yes


# - name: Set unattended updates
