- name: Install Standard Packages
  package:
    name:
      - htop
      - neovim
      - tmux
      - ncdu
      - git
      - curl
      - openssh-server
      - netdata
      - acl
      - bashtop
      - bpytop
      - iperf3
      - libfido2-dev
      - ca-certificates
      - gnupg
      - lsb-release
      - unattended-upgrades
  ignore_errors: yes

- name: Disable netdata
  systemd:
    name: netdata
    enabled: no
    state: stopped
  ignore_errors: yes


# - name: Set unattended updates
