#cockpit for RHEL based distros
- name: Install cockpit & configure it
  block:
  - name: Install cockpit and plugins
    package:
      - cockpit
      - cockpit-storaged
      - cockpit-navigator
      - cockpit-file-sharing
      - cockpit-packagekit
      - cockpit-podman
      - nfs-utils
      - udisks2-iscsi
      - udisks2-lvm2
  - name: Ensure Cockpit is enable. 
    systemd:
      name: cockpit
      enabled: true #It does not need to be started because it's a socket and not a service
  when:
    - ansible_distribution in ["AlmaLinux"]
