#Global Debian-based Repos
- name: Add Repositories for debian-based distros
  block:
    - name: Tailscale signing key
      get_url:
        url: https://pkgs.tailscale.com/stable/{{ ansible_distribution | lower }}/{{ ansible_distribution_release | lower }}.noarmor.gpg
        dest: /usr/share/keyrings/tailscale-archive-keyring.gpg
    
    - name: Temp - Remove old tailscale repo
      file:
        path: /etc/apt/sources.list.d/pkgs_tailscale_com_stable_ubuntu.lists
        state: absent
    - name: Tailscale repository
      apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg] https://pkgs.tailscale.com/stable/{{ ansible_distribution | lower }} {{ ansible_distribution_release | lower }} main"
        state: present
      notify: refresh repos

    - name: Docker signing key download
      get_url:
        url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
        dest: /usr/share/keyrings/docker
        mode: '0664'
    - name: Temp delete the key
      file:
        path: /usr/share/keyrings/docker.gpg
        state: absent
    - name: De-Armor the signing key
      shell: 'gpg --dearmor < /usr/share/keyrings/docker > /usr/share/keyrings/docker.gpg'
      args:
        creates: /usr/share/keyrings/docker.gpg
    
    - name: Temp - Remove old docker repo
      file:
        path: /etc/apt/sources.list.d/download_docker_com_linux_ubuntu.list
        state: absent
    - name: Add the docker repository
      apt_repository:
        repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/docker.gpg] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release | lower }} stable"
        state: present
      ignore_errors: yes
      notify: refresh repos
  when:
    - (ansible_distribution == "Ubuntu") or (ansible_distribution == "Debian")
    - ansible_machine == "x86_64"

#end task
- name: Flush handlers
  meta: flush_handlers    