- name: restart ssh
  systemd:
    name: sshd
    state: restarted
    enabled: true
    daemon_reload: yes

- name: refresh repos
  package:
    update_cache: true

- name: enable Tailscale
  systemd:
    name: tailscale
    state: started
    enable: true

- name: reboot
  ansible.builtin.shell: "sleep 2 && /sbin/reboot"
  async: 1
  poll: 0
  ignore_errors: true
  changed_when: true