PermitRootLogin yes
PubkeyAuthentication yes
AuthenticationMethods "publickey"
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
ClientAliveInterval 60
ClientAliveCountMax 5
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server